<% if @restaurants.none? %>
  No restaurants yet!
<% end %>

<% @restaurants.each do |restaurant| %>
<div class='row'>
  <div class='col-md-4 restaurant-image'>
    <%= image_tag restaurant.image_url %>
  </div>
  <div class='col-md-8'>
    <h1>
      <%= link_to restaurant.name, restaurant %>
    </h1>
    <h4>
      Created <%= time_ago_in_words restaurant.created_at %> ago
    </h4>
    <h3>
      Average rating: <%= star_rating restaurant %>
    </h3>

    <p><%= truncate restaurant.description, length: 140 %></p>
    
    <%= link_to 'Edit this restaurant', edit_restaurant_path(restaurant) %><br>

    <%= link_to 'Delete this restaurant', restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>

<h3>
  <%= link_to '+ Add a restaurant', new_restaurant_path %>
</h3>