<div class='row'>
  <div class='col-md-12'>
    <h1>Restaurant page for <%= @restaurant.name %></h1>

    <p><%= @restaurant.description %></p>
  </div>
</div>

<div id="map">
</div>
<script>
var map = new GMaps({
  div: '#map',
  lat: <%= @restaurant.latitude %>,
  lng: <%= @restaurant.longitude %>
});

map.addMarker({
  lat: <%= @restaurant.latitude %>,
  lng: <%= @restaurant.longitude %>,
  title: '<%= @restaurant.name %>',
  infoWindow: {
    content: '<p><%= star_rating @restaurant %></p>'
  }
});
</script>

<div class='row'>
  <% @restaurant.reviews.each do |review| %>
    <div class='col-sm-6 alert <%= review_color(review) %>'>
      <h4>Reviewer: <%= review.user.email %></h4>
      <%= review.content %> - <%= star_rating review %>
    </div>
  <% end %>
</div>
<div class='row'>
  <div class='col-md-12'>
    <% if user_signed_in? && !current_user.reviewed?(@restaurant) %>
      <h4><%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
      </h4>
    <% end %>
  </div>
</div>